@import url(global.css);

table,
th,
td {
    border: 1px solid green;
    background-color: rgb(240, 252, 248);
    padding: 8px;
    margin: 60px;
    border-radius: 5px;
    text-align: center;
}

table tbody tr:nth-child(even) td{
    background-color: rgba(78, 189, 152, 0.493);
}
table tbody tr:hover td {
    background-color: white;
}